<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lesson01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>lesson02.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>lesson03.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>lesson04.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>lesson05.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>lesson06.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>lesson07.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>lesson08.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>lesson09.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F63908D1D27BC83007D4AEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F6390981D27BDA3007D4AEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F6390A31D27BDB7007D4AEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F6390AE1D27BDC9007D4AEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F6390B91D27BDF2007D4AEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F6390C41D27C57F007D4AEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F6390CF1D27C599007D4AEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F6390DA1D27C5A8007D4AEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F6390E51D27C6DF007D4AEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F9897E21D15402B00B5BDB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
